extends ../layout/common.pug

block content
  .container
    p
      .card
        .card-header #{key}
        .card-body
          pre.card-text size : #{humanize.filesize(size)}
          //- p.card-text
          pre.card-text record : #{JSON.stringify(rec, null, 2)}
    ul.nav.nav-pills
      li.nav-item
        a.nav-link.active(href=stream_url) Live Terminal
      li.nav-item
        a.nav-link(href=text_url) Text
      li.nav-item
        a.nav-link(href=html_url) HTML
      li.nav-item
        a.nav-link(href=asciicast_url) Play
      li.nav-item
        a.nav-link(href=download_url) Download
    p
      .card
        .card-body
          .embed-responsive.embed-responsive-4by3
            iframe.embed-responsive-item(src=stream_url, allowfullscreen)
          

    //- .list-group 
    //-   a.list-group-item.list-group-item-action.flex-column.align-items-start(href=`/${key}/stream?token=${token}`)
    //-     .d-flex.w-100.justify-content-between
    //-       h5.mb-1 Live Terminal
    //-     p.mb-1 watch live terminal updates to the log file
    //-   a.list-group-item.list-group-item-action.flex-column.align-items-start(href=`/${key}/text?token=${token}`)
    //-     .d-flex.w-100.justify-content-between
    //-       h5.mb-1 Text
    //-     p.mb-1 text of the log file as of now
    //-   a.list-group-item.list-group-item-action.flex-column.align-items-start(href=`/${key}/html?token=${token}`)
    //-     .d-flex.w-100.justify-content-between
    //-       h5.mb-1 HTML
    //-     p.mb-1 HTML formated ascii output
    //-   a.list-group-item.list-group-item-action.flex-column.align-items-start(href=`/${key}/play?token=${token}`)
    //-     .d-flex.w-100.justify-content-between
    //-       h5.mb-1 Play
    //-     p.mb-1 play back as an asciicast
    //-   a.list-group-item.list-group-item-action.flex-column.align-items-start(href=`/${key}/download?token=${token}`)
    //-     .d-flex.w-100.justify-content-between
    //-       h5.mb-1 Download
    //-     p.mb-1 download as text
