extends ../layout/common.pug

block content
  .container
    ul.nav.nav-pills
      li.nav-item
        a.nav-link.active(href=stream_url) Live Terminal
      li.nav-item
        a.nav-link(href=text_url) Text
      li.nav-item
        a.nav-link(href=html_url) HTML
      li.nav-item
        a.nav-link(href=asciicast_url) Play
      li.nav-item
        a.nav-link(href=download_url) Download
    p
      .embed-responsive.embed-responsive-21by9
        iframe.embed-responsive-item(src=stream_url, allowfullscreen)
    p
      .card
        .card-header #{key}
        .card-body
          pre.card-text size : #{humanize.filesize(size)}
          //- p.card-text
          pre.card-text record : #{JSON.stringify(rec, null, 2)}